$font-stack: Helvetica, sans-serif;

$surface-background: #fff;
$surface-color: #000;

$surface-width: 960px;

$mobile-width: 450px;

$navbar-background: #2196F3;
$about-color: $navbar-background;
$projects-color: #4CAF50;
$skills-color: #FF9800;
$contact-color: #607D8B;

@mixin shadow(){
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

body{
	margin: 0;
	padding: 0;
	font: 100% $font-stack;
}
ol, ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar{
	position: fixed;
	width: 100%;
	padding: .5em;
	text-align: right;

	color: #fff;
	background: $navbar-background;

	transition: box-shadow 200ms;

	h1{
		margin: 0;
		float: left;
		font-weight: lighter;
		text-align: left;
	}
	li{
		display: inline-block;
		padding: .5em;
	}
	a{
		color: #fff;
		text-decoration: none;
		&:hover{

		}
	}
	#plain-text-style{
		float: right;
		margin-right: 1em;
	}
	&.nav-shadow{
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}
}
.page-section{
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;

	color: #fff;

	>h1.section-header{
		margin: 0 2em;
		text-align: left;
	}
	&#about{
		display: table-cell;

		vertical-align: middle;
		text-align: center;

		/*padding-top: 4em;*/

		height: 100vh;
		width: 100vw;

		background-color: $about-color;
	}
	&#projects{
		background-color: $projects-color;
	}
	&#skills{
		background-color: $skills-color;
	}
	&#contact{
		background-color: $contact-color;
	}
}
.portrait{
	@include shadow;

	display: inline-block;

	width: 5em;
	height: 5em;

	background: url("portrait.png");
	background-position: center;
	background-size: 100%;

	border: solid #fff 2px;
	border-radius: 50%;
}
.surface{
	@include shadow;

	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;

	max-width: $surface-width;
	text-align: left;

	color: $surface-color;
	background: $surface-background;
}
.projects-container{
	max-width: $surface-width;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.project{
	margin: 1em;
	display: inline-block;
	vertical-align: top;

	padding: 0;

	width: 12em;

	>*{
		margin: .5em;
	}
	.preview{
		margin: 0;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.about{
	}
	.title{
		font-weight: bold;
	}
}
@mixin button(){
	cursor: pointer;

	box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
	transition: box-shadow 150ms;

	border-radius: 0.25em;

	&:hover{
		box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
	}
}
#skills{
	h3{
		margin: .5em;
		color: rgba(0, 0, 0, .5);
		font-weight: normal;
	}
	ul{
		margin-left: 1em;
		margin-top: 1em;
		margin-bottom: 1em;

		padding-left: 1em;
		border-left: solid 2px rgba(0, 0, 0, .25);
	}
	li{
		@include button;

		display: inline-block;

		margin: .25em;
		padding: .5em;

		font-size: 1.25em;

		background-color: #607D8B;
		color: #fff;
	}
}
